#!/bin/bash

MYSQL_USERNAME={{ mysql.user }}
MYSQL_PASSWORD={{ mysql.password }}
MYSQL_HOSTNAME={{ mysql.host }}
MYSQL_SCHEMA={{ mysql.schema }}
MODE="positive"
DEBUG_MODE="False"
DEBUG_LOG="/tmp/zabbix_mnp_monitoring.log"

while [ True ]; do

   [ -z "$1" ] && break
   [ $DEBUG_MODE == "True" ] && echo "$0 : Processing argument $1" >>$DEBUG_LOG

   case "$1" in
     "-u" | "--username" )
        shift
        [ -z "$1" ] && echo "ERROR! -u/--user must be followed by username" && exit 1
        MYSQL_USERNAME=$1
        shift
        ;;
     "-p" | "--password" )
        shift
        [ -z "$1" ] && echo "ERROR! -p/--password must be followed by password" && exit 1
        MYSQL_PASSWORD=$1
        shift
        ;;
     "-h" | "--hostname" )
        shift
        [ -z "$1" ] && echo "ERROR! -h/--host must be followed by hostname" && exit 1
        MYSQL_HOSTNAME=$1
        shift
        ;;
     "-s" | "--schema" )
        shift
        [ -z "$1" ] && echo "ERROR! -s/--schema must be followed by schema name" && exit 1
        MYSQL_SCHEMA=$1
        shift
        ;;
     "-m" | "--mode" )
        shift
        [ -z "$1" ] && echo "ERROR! -m/--mode must be followed by a mode name (ie. positive or negative)" && exit 1
        [ "$1" != "positive" -a "$1" != "negative" ] && echo "ERROR! Invalid mode: $1" && exit 1
        MODE=$1
        shift
        ;;
     "--help" )
        echo "Usage $0 [-u|--username USERNAME] [-p|--password PASSWORD] [-h|--hostname HOSTNAME] [-s|--schema SCHEMANAME]"
        echo
        echo "   This script runs a query against mysql database to get count of users whith -1 status who have entered"
        echo "their numbers but still have not confirmed the process"
        echo
        exit 0
        ;;
     * )
        echo "ERROR! Invalid argument: $1"
        exit 1
        ;;
   esac

done

prev_hour=`date --date="1 hour ago" +"%H"`
today_start_date=`date --date="today" +"%Y-%m-%d ${prev_hour}:00:00"`
today_end_date=`date --date="today" +"%Y-%m-%d ${prev_hour}:59:59"`
yesterday_start_date=`date --date="yesterday" +"%Y-%m-%d ${prev_hour}:00:00"`
yesterday_end_date=`date --date="yesterday" +"%Y-%m-%d ${prev_hour}:59:59"`

[ $DEBUG_MODE == "True" ] && echo "$0 : /usr/bin/mysql -sN -u ${MYSQL_USERNAME} --password=${MYSQL_PASSWORD} -h ${MYSQL_HOSTNAME} ${MYSQL_SCHEMA}" >>$DEBUG_LOG
[ $DEBUG_MODE == "True" ] && echo "$0 : select count(*) from mnp_requestinfolog where status = 4 and createDate between '${today_start_date}' and '${today_end_date}'"  >>$DEBUG_LOG
[ $DEBUG_MODE == "True" ] && echo "$0 : select count(*) from mnp_requestinfolog where status = 4 and createDate between '${yesterday_start_date}' and '${yesterday_end_date}'" >>$DEBUG_LOG

result=`
/usr/bin/mysql -sN -u ${MYSQL_USERNAME} --password=${MYSQL_PASSWORD} -h ${MYSQL_HOSTNAME} ${MYSQL_SCHEMA} << EOF1:
select
( select count(*) from mnp_requestinfolog where status = 1 and createDate between '${today_start_date}' and '${today_end_date}' ) -
( select count(*) from mnp_requestinfolog where status = 1 and createDate between '${yesterday_start_date}' and '${yesterday_end_date}' );
EOF1:
`

[ $DEBUG_MODE == "True" ] && echo "$0 : result is $result"  >>$DEBUG_LOG

if [ "$MODE" == "positive" ]; then
  if [ "$result" -ge 0 ]; then
    echo "$result"
  else
    echo "0"
  fi

elif [ "$MODE" == "negative" ]; then
  if [ "$result" -le 0 ]; then
    let p_result=result*-1
    echo "$p_result"
  else
    echo "0"
  fi

fi
